{% extends 'base.html' %}

{% block content %}
    <div class="container col-sm-8 mt-5 bg-dark p-5 rounded text-light ">
        <p class="text-center fs-4">About Memo App</p>
        <p>Memo is an application that you can use to keep track of notes / shopping lists or tasks more easily.</p>
        <p>You can add or delete items, mark them as done or undone and you can see the date you posted the items.</p>
        <p>Python, Django, Bootstrap and CSS were used to develop the application and all data is saved in the Sqlite3 database.</p>
        <button class="btn btn-outline-light ms-2 mt-4 rounded" type="submit"><a class="link-light" href="{% url 'markAsCompleteAllItems' %}" >Back</a></button>
    </div>
{% endblock %}